<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<f:section name="Masonry">
		
			<mf:embed.javaScript moveToFooter="TRUE">
jQuery(document).ready(function($) {
    var $grid = $('.grid').imagesLoaded( function() {
      $grid.masonry({
       itemSelector: '.grid-item',
       percentPosition: true,
       columnWidth: '.grid-sizer'
      }); 
    });
});
			</mf:embed.javaScript>
		
	</f:section>

</div>