<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<f:section name="Detail">
		<f:if condition="{mediaAsset}">
			<f:then>
				
					<f:image
						image="{mediaAsset}"
						alt="{alt}"
						title="{f:if(condition:title, then:title, else:'{mf:fileTitle(file:mediaAsset)}')}"
						height="{height}{resizeMode}"
						width="{width}{resizeMode}"
						/>
				
			</f:then>
			<f:else>
				<i class="no-asset" style="width:{width}px;"><f:translate key="no_assets_found">No assets found</f:translate></i>
			</f:else>
		</f:if>
	</f:section>

</div>
