<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">
		<f:flashMessages />
		<f:if condition="{0:displayMode} == {0:'album'}">
			<f:then>
				<f:render partial="MediaAlbum/FlatList/AssetsList" section="AssetsList" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render partial="MediaAlbum/FlatList/AlbumsList" section="AlbumsList" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:section>

</div>