<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">
		<div class="thumb random">
			<f:link.action pageUid="{settings.random.targetPid}" controller="MediaAlbum" arguments="{mediaAlbum : mediaAlbum}">
				<f:render partial="MediaAsset/Detail" section="Detail" arguments="{alt:mediaAlbum.title,title:mediaAlbum.title,mediaAsset:mediaAlbum.randomAsset,width:settings.random.thumb.width,height:settings.random.thumb.height,resizeMode:settings.random.thumb.resizeMode}" />
				<div class="name">{mediaAlbum.title}</div>
				<div class="description"><f:format.crop maxCharacters="17" append="&nbsp;...">{mediaAlbum.webdescription}</f:format.crop></div>
			</f:link.action>
		</div>
	</f:section>

</div>