<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">
	    <f:if condition="{settings.thumbLayout} == 'masonry'">
                <f:comment>Load the masonry and imagesloaded JS files</f:comment>
                
        </f:if>
		<f:if condition="{mediaAlbum}">
		  <f:if condition="{settings.thumbLayout} == 'regular'">
		      <div class="album">
                                <f:if condition="{settings.album.displayTitle}">
                                    <h3>{mediaAlbum.title}</h3>
                                </f:if>
				<div class="description"><f:format.html>{mediaAlbum.webdescription}</f:format.html></div>
				<mf:widget.paginate objects="{mediaAlbum.assets}" as="paginatedAssets" widgetId="assets" itemsBefore="before" itemsAfter="after" configuration="{itemsPerPage:settings.album.pagination.itemsPerPage, insertAbove:settings.album.pagination.insertAbove, insertBelow:settings.album.pagination.insertBelow, maximumNumberOfLinks:settings.album.pagination.maximumNumberOfLinks, pagesBefore:settings.album.pagination.pagesBefore, pagesAfter:settings.album.pagination.pagesAfter}">
					<f:if condition="{settings.album.lightbox.enable}">
						<f:if condition="{before}">
							<f:for each="{before}" as="mediaAsset">
								<a href="{f:uri.image(image:mediaAsset, width:'{settings.album.lightbox.asset.width}{settings.album.lightbox.asset.resizeMode}', height:'{settings.album.lightbox.asset.height}{settings.album.lightbox.asset.resizeMode}')}" rel="{settings.album.lightbox.relPrefix}{mediaAlbum.uid}" class="{settings.album.lightbox.styleClass} {settings.album.lightbox.styleClass}-{mediaAlbum.uid}" title="{mf:fileTitle(file:mediaAsset)} - {mediaAlbum.title}"></a>
							</f:for>
						</f:if>
					</f:if>
					<f:if condition="{paginatedAssets}">
						<f:then>
							<div class="thumbs clearfix">
								<f:for each="{paginatedAssets}" as="mediaAsset">
									<f:render partial="MediaAsset/Thumb" section="Thumb" arguments="{mediaAlbum:mediaAlbum,mediaAsset:mediaAsset}" />
								</f:for>
							</div>
						</f:then>
						<f:else>
							<div class="alert alert-info">
								<p><f:translate key="no_assets_found">No assets found.</f:translate></p>
							</div>
						</f:else>
					</f:if>
					<f:if condition="{settings.album.lightbox.enable}">
						<f:if condition="{after}">
							<f:for each="{after}" as="mediaAsset">
								<a href="{f:uri.image(image:mediaAsset, width:'{settings.album.lightbox.asset.width}{settings.album.lightbox.asset.resizeMode}', height:'{settings.album.lightbox.asset.height}{settings.album.lightbox.asset.resizeMode}')}" rel="{settings.album.lightbox.relPrefix}{mediaAlbum.uid}" class="{settings.album.lightbox.styleClass} {settings.album.lightbox.styleClass}-{mediaAlbum.uid}" title="{mf:fileTitle(file:mediaAsset)} - {mediaAlbum.title}"></a>
							</f:for>
						</f:if>
					</f:if>
				</mf:widget.paginate>
			</div>
		  </f:if>
          <f:if condition="{settings.thumbLayout} == 'masonry'">
               <div class="album">
                                <f:if condition="{settings.album.displayTitle}">
                                    <h3>{mediaAlbum.title}</h3>
                                </f:if>
				<div class="description"><f:format.html>{mediaAlbum.webdescription}</f:format.html></div>
				<mf:widget.paginate objects="{mediaAlbum.assets}" as="paginatedAssets" widgetId="assets" itemsBefore="before" itemsAfter="after" configuration="{itemsPerPage:settings.album.pagination.itemsPerPage, insertAbove:settings.album.pagination.insertAbove, insertBelow:settings.album.pagination.insertBelow, maximumNumberOfLinks:settings.album.pagination.maximumNumberOfLinks, pagesBefore:settings.album.pagination.pagesBefore, pagesAfter:settings.album.pagination.pagesAfter}">
					<f:if condition="{settings.album.lightbox.enable}">
						<f:if condition="{before}">
							<f:for each="{before}" as="mediaAsset">
								<a href="{f:uri.image(image:mediaAsset, width:'{settings.album.lightbox.asset.width}{settings.album.lightbox.asset.resizeMode}', height:'{settings.album.lightbox.asset.height}{settings.album.lightbox.asset.resizeMode}')}" rel="{settings.album.lightbox.relPrefix}{mediaAlbum.uid}" class="{settings.album.lightbox.styleClass} {settings.album.lightbox.styleClass}-{mediaAlbum.uid}" title="{mf:fileTitle(file:mediaAsset)} - {mediaAlbum.title}"></a>
							</f:for>
						</f:if>
					</f:if>
					<f:if condition="{paginatedAssets}">
						<f:then>
							<div class="grid">
							    <div class="grid-sizer"></div>
								<f:for each="{paginatedAssets}" as="mediaAsset">
									<f:render partial="MediaAsset/GridItem" section="Thumb" arguments="{mediaAlbum:mediaAlbum,mediaAsset:mediaAsset}" />
								</f:for>
							</div>
						</f:then>
						<f:else>
							<div class="alert alert-info">
								<p><f:translate key="no_assets_found">No assets found.</f:translate></p>
							</div>
						</f:else>
					</f:if>
					<f:if condition="{settings.album.lightbox.enable}">
						<f:if condition="{after}">
							<f:for each="{after}" as="mediaAsset">
								<a href="{f:uri.image(image:mediaAsset, width:'{settings.album.lightbox.asset.width}{settings.album.lightbox.asset.resizeMode}', height:'{settings.album.lightbox.asset.height}{settings.album.lightbox.asset.resizeMode}')}" rel="{settings.album.lightbox.relPrefix}{mediaAlbum.uid}" class="{settings.album.lightbox.styleClass} {settings.album.lightbox.styleClass}-{mediaAlbum.uid}" title="{mf:fileTitle(file:mediaAsset)} - {mediaAlbum.title}"></a>
							</f:for>
						</f:if>
					</f:if>
				</mf:widget.paginate>
			</div>
          </f:if>
          <f:if condition="{settings.thumbLayout} == 'masonry'">
                <f:if condition="{settings.album.lightbox.enable}">
                    <f:then>
			            <f:render partial="MediaAlbum/Lightbox" section="Masonrylightbox" arguments="{mediaAlbum:mediaAlbum}" />
                        
                    </f:then>
                    <f:else>
			            <f:render partial="MediaAlbum/Lightbox" section="Masonry" />
                        
                    </f:else>
                </f:if>
                <f:comment>render the JS to start masonry</f:comment>
			</f:if>
           <f:if condition="{settings.album.lightbox.enable}">
               <f:if condition="{settings.thumbLayout} != 'masonry'">
				 <f:render partial="MediaAlbum/Lightbox" section="Lightbox" arguments="{mediaAlbum:mediaAlbum}" />               
               </f:if>
			</f:if>
        </f:if>
	</f:section>

</div>
