<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">
		<f:flashMessages />
		<div class="asset">
			<h1>{mediaAlbum.title}</h1>
			<div class="mediaasset mediatype{mediaAsset.type}">
				<figure>
					<f:render partial="MediaAsset/Detail" section="Detail" arguments="{mediaAsset:mediaAsset,width:settings.detail.asset.width,height:settings.detail.asset.height,resizeMode:settings.detail.asset.resizeMode}" />
					<figcaption>{mf:fileTitle(file:mediaAsset)}</figcaption>
					<f:if condition="{mediaAsset.properties.description}">
						<div class="description"><f:format.html>{mediaAsset.properties.description}</f:format.html></div>
					</f:if>
				</figure>
			</div>
		</div>
		<div class="navigation">
			<f:if condition="{previousAsset}">
				<f:link.action class="btn btn-default" action="showAsset" arguments="{mediaAlbum:mediaAlbum,mediaAssetUid:previousAsset.uid}" title="{mf:fileTitle(file:previousAsset)} - {mediaAlbum.title}">&lt; {mf:fileTitle(file:previousAsset)}</f:link.action>
			</f:if>
			<f:link.action class="btn btn-default" controller="MediaAlbum" arguments="{mediaAlbum:mediaAlbum}"><f:translate id="back_to_%s" arguments="{0: mediaAlbum.title}">Back to %s</f:translate></f:link.action>

			<f:if condition="{nextAsset}">
				<f:link.action class="btn btn-default" action="showAsset" arguments="{mediaAlbum:mediaAlbum,mediaAssetUid:nextAsset.uid}" title="{mf:fileTitle(file:nextAsset)} - {mediaAlbum.title}">{mf:fileTitle(file:nextAsset)} &gt;</f:link.action>
			</f:if>
		</div>
	</f:section>

</div>
