@media all{
    
    .fs-media-gallery .thumb {
        float: left;
        border: 1px solid #EEE;
        border-radius: 5px;
    }
    .fs-media-gallery .thumb a,
    .fs-media-gallery .thumb a:link,
    .fs-media-gallery .thumb a:hover,
    .fs-media-gallery .thumb a:active,
    .fs-media-gallery .thumb a:visited {
        display: block;
        text-align: center;
    }
    .fs-media-gallery .navigation {
        clear: both;
        margin-top:10px;
        margin-bottom:10px;
    }
    .fs-media-gallery .pagination {
        margin-top:10px;
        margin-bottom:10px;
    }

    /*----- Masonry Layout Styles ----*/
    .fs-media-gallery .grid{
        background-color:white;
    }
    .fs-media-gallery .grid:after {
      content: '';
      display: block;
      clear: both;
    }
    .fs-media-gallery .grid-sizer,.fs-media-gallery .grid-item{
        width:32%;
    }
    .fs-media-gallery .grid-item{
        float: left;
    }
    .fs-media-gallery .grid-item img{
        vertical-align: middle;
        margin-bottom:10px;
    }
}

@media screen and (max-width:780px){
        /*----- Masonry Layout Styles ----*/
    .fs-media-gallery .grid{
        background-color:white;
    }
    .fs-media-gallery .grid:after {
      content: '';
      display: block;
      clear: both;
    }
    .fs-media-gallery .grid-sizer,.fs-media-gallery .grid-item{
        width:45.775%;
    }
    .fs-media-gallery .grid-item{
        float: left;
    }
    .fs-media-gallery .grid-item img{
        vertical-align: middle;
        margin-bottom:10px;
    }
}

@media screen and (max-width:360px){
        /*----- Masonry Layout Styles ----*/
    .fs-media-gallery .grid{
        background-color:white;
    }
    .fs-media-gallery .grid:after {
      content: '';
      display: block;
      clear: both;
    }
    .fs-media-gallery .grid-sizer,.fs-media-gallery .grid-item{
        width:100%;
    }
    .fs-media-gallery .grid-item{
        float: left;
    }
    .fs-media-gallery .grid-item img{
        vertical-align: middle;
        margin-bottom:10px;
    }
}